//###########################################################################
// Project Name	:	Irigation System
// Req Type		:	Software Requirement Specification (SRS)
// Author Name	:	Amit Dhanawade
// Date			: 	18 October 2023
// Version		: 	V1.0.1
// Abbrivations : 1. Functional Goal It Serves (FGIS)
// 				  2. Functional Description (FunDes)
//				  3. System Requirements Specification (SyRS)	
//###########################################################################


//***************************************************************************
Req ID	: SRS_01
FGIS	: [SyRS_01] Check Temperature and display for user on LCD
Input	:
		Example				: [Datatype] [Variable Name] [Min_val] [Max_val]
							  [ uint8 ] [TemperatureMon]	[0C]	 [55C]
							  [ uint8 ] [HumidityMon] 		[0%]	 [90%]
Output	:		
		Example				: [Datatype] [Variable Name] [Min_val] [Max_val]
							  [ bool ]   [PumpContrl] 	 [true]	   [false]
Parameters :
		Example	(Global Constant Variables):
						[Datatype] [Variable Name]		[Min_val] [Max_val]
						[ uint8 ]  [TemperatureUpperLmt][0C]	 	[55C]

FunDes	: Read Temperature Sensor Connected on ADC channel 0, 
		  convert and display value in unit format on LCD
		  
Req Goal: To read and display temperature on LCD with unit
//***************************************************************************
